# Python Tutorial: Python Pandas Operations

Pandas is a powerful Python library used for data manipulation and analysis. It provides easy-to-use data structures and functions for handling structured data. The primary data structures in Pandas are Series and DataFrame. Series is a one-dimensional labeled array, while DataFrame is a two-dimensional labeled data structure resembling a table.

## Creating a DataFrame

You can create a DataFrame from various data sources like CSV files, Excel files, dictionaries, lists, etc. Here's how you can create a simple DataFrame:

In [ ]:
data = {'Name': ['John', 'Emma', 'Brad'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)
print(df)

## Basic DataFrame Operations

1. **Viewing Data:**

   - `head()` - View the first few rows of the DataFrame.
   - `tail()` - View the last few rows of the DataFrame.
   - `info()` - Get concise summary of the DataFrame.
   - `describe()` - Generate descriptive statistics.

2. **Selecting Data:**

   - `loc[]` - Access a group of rows and columns by label(s).
   - `iloc[]` - Access a group of rows and columns by integer position(s).
   - `[]` - Select column(s) by name.

3. **Filtering Data:**

   - Using boolean indexing.

4. **Adding, Updating, and Removing Data:**

   - `insert()` - Insert column(s).
   - `drop()` - Remove row(s) or column(s).
   - `rename()` - Rename index or column labels.
   - Assignment to add or update data.

### Example Viewing Data

In [ ]:
# Viewing Data
print(df.head())
print(df.tail())
print(df.info())
print(df.describe())

### Example Selecting Data

In [ ]:
# Selecting Data
print(df.loc[0])  # Selecting the first row
print(df.iloc[:, 0])  # Selecting the first column
print(df['Name'])  # Selecting the 'Name' column

### Example Filtering Data

In [ ]:
# Filtering Data
print(df[df['Age'] > 25])  # Selecting rows where Age > 25

### Example Adding, Updating, and Removing Data

In [ ]:
# Adding, Updating, and Removing Data
df.insert(3, 'Gender', ['Male', 'Female', 'Male'])  # Inserting 'Gender' column
print(df)
df.drop(0, inplace=True)  # Removing the first row
print(df)
df['City'] = df['City'].str.upper()  # Updating 'City' column
print(df)

## Exercise 1: Create a DataFrame from a dictionary containing students' names and their corresponding scores in Math, Science, and English.

In [ ]:
# Solution

## Exercise 2: Select the first two rows of the DataFrame.

In [ ]:
# Solution

## Exercise 3: Filter the DataFrame to show students with scores greater than 80 in Math.

In [ ]:
# Solution

## Exercise 4: Add a new column 'Total' containing the sum of scores for each student.

In [ ]:
# Solution

## Exercise 5: Remove the 'English' column from the DataFrame.

In [ ]:
# Solution

## Summary

This tutorial provides a foundational understanding of Pandas operations. Experiment with these examples and exercises to strengthen your proficiency in using Pandas for data manipulation and analysis.