In [ ]:
# Exercise 1: 
# Read a CSV file named 'sales-data.csv' into a DataFrame and display the first 5 rows.

df = pd.read_csv('sales-data.csv')
print(df.head())

In [ ]:
# Exercise 2: 
# Handle missing values in the DataFrame created in Exercise 1 by filling them with the mean of the respective column.

df['Revenue'].fillna(df['Revenue'].mean(), inplace=True)
df['Cost'].fillna(df['Cost'].mean(), inplace=True)
print(df.head())

In [ ]:
# Exercise 3: 
# Create a new column in the DataFrame created in Exercise 1, which calculates the profit (Revenue - Cost).

df['Profit'] = df['Revenue'] - df['Cost']
print(df.head())

In [ ]:
# Exercise:
# Given the list `data = ['apple', 'banana', 'apple', 'orange', 'banana']`, remove duplicates and print the cleaned list.

data = ['apple', 'banana', 'apple', 'orange', 'banana']

# Remove duplicates
clean_data = list(set(data))

print(clean_data)

In [ ]:
# Exercise:
# Given the DataFrame `df` with missing values, fill the missing values with the mean of each column.

# Fill missing values with column means
clean_df = df.fillna(df.mean())

print(clean_df)

In [ ]:
# Exercise:
# Given the array `data = np.array([1, 2, 3, 100, 5, 6, 7, 8])`, remove outliers using the Interquartile Range (IQR) method.

q1, q3 = np.percentile(data, [25, 75])
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
clean_data = data[(data >= lower_bound) & (data <= upper_bound)]

print(clean_data)

In [ ]:
# Exercise 1: 
# Given a list `my_list = [1, 2, 3, 4, 2, 3, 5]`, remove all duplicates and print the resulting list.

my_list = [1, 2, 3, 4, 2, 3, 5]
unique_list = list(set(my_list))
print(unique_list)

In [ ]:
# Exercise 2: 
# Count the occurrences of each element in the list `my_list = ['a', 'b', 'c', 'a', 'b', 'a']` and print the counts. 

from collections import Counter

my_list = ['a', 'b', 'c', 'a', 'b', 'a']
duplicate_count = Counter(my_list)
print(duplicate_count)

In [ ]:
# Exercise 3: 
# Filter out duplicates from the list `my_list = [1, 2, 3, 4, 2, 3, 5]` without using sets or Counter, and print the resulting list.

my_list = [1, 2, 3, 4, 2, 3, 5]
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

In [ ]:
# Exercise: 
# Clean up a list of dates:

Given a list of dates in various formats, clean them up and convert them into a standardized format.

from datetime import datetime

dates = ['2023-12-25', '12/25/2023', '2023/12/25', '25-Dec-2023']
cleaned_dates = []

for date_str in dates:
    try:
        # Try parsing with different formats
        formatted_date = datetime.strptime(date_str, '%Y-%m-%d')
    except ValueError:
        try:
            formatted_date = datetime.strptime(date_str, '%m/%d/%Y')
        except ValueError:
            try:
                formatted_date = datetime.strptime(date_str, '%Y/%m/%d')
            except ValueError:
                formatted_date = datetime.strptime(date_str, '%d-%b-%Y')
    cleaned_dates.append(formatted_date)

print(cleaned_dates)

# The code above cleans up the list of dates and stores them in the `cleaned_dates` list. 
# Each date is converted into a `datetime` object using the appropriate format string.

In [ ]:
# Exercise 1: 
# Create a DataFrame with missing values and remove them.
 
import pandas as pd
data = {'A': [1, 2, None, 4], 'B': ['x', 'y', None, 'z']}
df = pd.DataFrame(data)
clean_df = df.dropna()
print(clean_df)

In [ ]:
# Exercise 2: 
# Create a DataFrame with outliers and replace them with the median. 

import pandas as pd
data = {'A': [1, 2, 20, 4], 'B': ['x', 'y', 'z', 'w']}
df = pd.DataFrame(data)
median = df['A'].median()
df['A'] = df['A'].apply(lambda x: median if x > 10 else x)
print(df)

In [ ]:
# Exercise 3: 
# Create a DataFrame with data format errors and correct them. 

import pandas as pd
data = {'A': ['1', '2', '3', '4'], 'B': ['x', 'y', 'z', 'w']}
df = pd.DataFrame(data)
df['A'] = pd.to_numeric(df['A'], errors='coerce')
print(df)

In [ ]:
# Exercise 4: 
# Create a DataFrame with inconsistent values and correct them.

import pandas as pd
data = {'A': [1, -2, 3, 4], 'B': ['x', 'y', 'z', 'w']}
df = pd.DataFrame(data)
df['A'] = df['A'].apply(lambda x: x if x > 0 else None)
print(df)

In [ ]:
# Exercise 1: 
# Create a DataFrame with missing values and identify the locations of missing data.

exercise_data = {'A': [1, None, 3, 4],
                 'B': [5, 6, None, 8],
                 'C': [9, 10, 11, None]}
exercise_df = pd.DataFrame(exercise_data)
print(exercise_df.isnull())

In [ ]:
# Exercise 2: 
# Drop the columns containing missing values from the DataFrame.

exercise_cleaned_df = exercise_df.dropna(axis=1)
print(exercise_cleaned_df)

In [ ]:
# Exercise 3: 
# Fill in the missing values with the median of each column.

median_filled_df = exercise_df.fillna(exercise_df.median())
print(median_filled_df)

In [ ]:
# Exercise 1

# Convert integer to float
int_num = 42
float_num = float(int_num)
print(float_num)  # Output: 42.0

In [ ]:
# Exercise 2 

# Convert float to string
float_num = 3.14159
str_num = str(float_num)
print(str_num)  # Output: "3.14159"

In [ ]:
# Exercise 3

# Convert boolean to integer
bool_val = True
int_val = int(bool_val)
print(int_val)  # Output: 1