# Python Tutorial: Data Types and Variables

Welcome to the Python Tutorial on Data Types and Variables! In this tutorial, we'll cover the basics of data types, variables, and how to work with them in Python.

## Data Types

Python is a dynamic language. Variable types are inferred by their usage and don't have to be declared.

Python supports several built-in data types, including:
- Integer (`int`): Whole numbers, e.g., 5, -3, 100.
- Float (`float`): Decimal numbers, e.g., 3.14, -0.5, 2.0.
- String (`str`): Text enclosed in single ('') or double ("") quotes, e.g., "hello", 'python'.
- Boolean (`bool`): True or False values.

Notice that we do not need a **;** to terminate a statement.

### Example 1: Declaring Variables with Different Data Types

In [ ]:
# Integers
num1 = 10

# Floats
num2 = 3.14

# Strings (Single or Double quotes)
name = "Alice"

# Booleans
is_student = True

# Print variables
print("Integer:", num1)
print("Float:", num2)
print("String:", name)
print("Boolean:", is_student)

## Operations on Variables

You can perform various operations on variables based on their data types.

### Example 2: Arithmetic Operations

In [ ]:
# Arithmetic operations on integers and floats
num1 = 10
num2 = 3
result_sum = num1 + num2
result_sub = num1 - num2
result_mul = num1 * num2
result_div = num1 / num2

# Print results
print("Sum:", result_sum)
print("Difference:", result_sub)
print("Product:", result_mul)
print("Division:", result_div)

## Exercise 1: Calculate Area of Rectangle

Write a Python program to calculate the area of a rectangle with length 5 and width 3. Print the result to the console.

In [ ]:
# Solution

## String Operations

Strings support various operations such as concatenation and slicing.

### Example 3: String Concatenation

In [ ]:
# String concatenation
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name

# Print full name
print("Full Name:", full_name)

## Exercise 2: Reverse a String

Write a Python program to reverse the string "hello" and print the result to the console.

In [ ]:
# Solution

## Type Conversion

In [ ]:
s1 = "42"

print (s1)

# Should be str
print (type(s1))

In [ ]:
# Convert to a number
a = int(s1)

print (a)
print (type(a))

In [ ]:
# Whole number
b = int(3.14)

print (b)
print (type(b))

## Formatting Numbers

In [ ]:
# format with thousand seperator

print ('{:,}'.format(123))
print ('{:,}'.format(1234))
print ('{:,}'.format(123456789))

In [ ]:
# format floats

# Print to certain decimal places
import math

# print the whole PI
print (math.pi)

# only 3 decimal places
print ('{:.3f}'.format (math.pi))

# only 1 decimal places
print ('{:.1f}'.format (math.pi))

# only no decimal places
print ('{:.0f}'.format (math.pi))

In [ ]:
# Combination

n = 13456789.54321

print ('{:,.2f}'.format(n))

## Summary

Congratulations! You've learned about data types, variables, and basic operations in Python. Practice these concepts by experimenting with different data types and performing operations on variables. Keep exploring more advanced topics to enhance your Python skills further.

<details>
<summary><b>Instructor Notes</b></summary>

Nothing to add...

</details>