# Python Tutorial: Type Conversion Cleanup

This is a tutorial for Python cleanup type conversion. This tutorial will cover various scenarios where type conversion may be needed, along with examples, exercises, and solutions.

## Common Data Types in Python

Before we dive into type conversion, let's review some common data types in Python:

1. **Integer (int)**: Whole numbers without any decimal point.
2. **Float (float)**: Real numbers with a decimal point or an exponential form.
3. **String (str)**: Sequence of characters enclosed within single, double, or triple quotes.
4. **Boolean (bool)**: Represents True or False.
5. **List (list)**: Ordered collection of items.
6. **Tuple (tuple)**: Immutable collection of items.
7. **Dictionary (dict)**: Collection of key-value pairs.

### Example 1: Converting String to Integer

In [ ]:
# Convert string to integer
num_str = "123"
num_int = int(num_str)
print(num_int)  # Output: 123

### Example 2: Converting Integer to String

In [ ]:
# Convert integer to string
num_int = 123
num_str = str(num_int)
print(num_str)  # Output: "123"

### Example 3: Converting String to Float

In [ ]:
# Convert string to float
float_str = "3.14"
float_num = float(float_str)
print(float_num)  # Output: 3.14

### Example 4: Converting Float to Integer

In [ ]:
# Convert float to integer
float_num = 3.14
int_num = int(float_num)
print(int_num)  # Output: 3

## Exercise 1: Convert Integer to Float

Convert the integer `42` to a float.

In [ ]:
# Solution

## Exercise 2: Convert Float to String

Convert the float `3.14159` to a string.

In [ ]:
# Solution

## Exercise 3: Convert Boolean to Integer

Convert the boolean `True` to an integer.

In [ ]:
# Solution

## Summary

Type conversion is a crucial aspect of programming in Python. By understanding how to convert between different data types, you can manipulate and work with data more effectively. Practice these examples and exercises to solidify your understanding of type conversion in Python.