# Python Tutorial: Pandas

Pandas is a powerful library in Python for data manipulation and analysis. It provides data structures like DataFrame and Series, along with functions to efficiently manipulate and analyze tabular data. Pandas is widely used in fields such as data science, finance, and economics.

**Installation**
  
You can install pandas using pip:

In [ ]:
pip install pandas

**Example 1: Creating a DataFrame**

In [ ]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

**Example 2: Loading Data from a File**

In [ ]:
# Read a CSV file into a DataFrame
df = pd.read_csv('data.csv')
print(df.head())

**Example 3: Basic Data Operations**

In [ ]:
# Selecting columns
print(df['Name'])

# Filtering rows
print(df[df['Age'] > 25])

# Adding a new column
df['Gender'] = ['Female', 'Male', 'Male']
print(df)

**Exercise 1: Create a DataFrame from the following data:**
    
   ```
   Name    Age    Salary
   Alice   25     50000
   Bob     30     60000
   Charlie 35     70000
   ```

In [ ]:
# Solution

**Exercise 2: Read a CSV file named 'salary-data.csv' into a DataFrame and display the first 5 rows.**

In [ ]:
# Solution

**Exercise 3: Select the rows where the salary is greater than 60000.**

In [ ]:
# Solution

Pandas is an essential tool for data analysis and manipulation in Python, providing powerful data structures and functions to work with tabular data effectively.