In [ ]:
# Exercise 1: 
# Create a DataFrame from the following data:
#   
#   Name    Age    Salary
#   Alice   25     50000
#   Bob     30     60000
#   Charlie 35     70000
#   
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)
print(df)

In [ ]:
# Exercise 2: 
# Read a CSV file named 'salary-data.csv' into a DataFrame and display the first 5 rows.
import pandas as pd

df = pd.read_csv('salary-data.csv')
print(df.head())

In [ ]:
# Exercise 3: 
# Select the rows where the salary is greater than 60000.
import pandas as pd

print(df[df['Salary'] > 60000])

In [ ]:
# Exercise 1
# Create a DataFrame `sales_data` with the following data and set 'Month' column as the index:
#
#| Month   | Sales |
#|---------|-------|
#| Jan     | 150   |
#| Feb     | 200   |
#| Mar     | 180   |
#| Apr     | 220   |

import pandas as pd

# Create DataFrame
data = {'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
        'Sales': [150, 200, 180, 220]}
sales_data = pd.DataFrame(data)
sales_data.set_index('Month', inplace=True)
print(sales_data)

In [ ]:
# Exercise 2
# Select the sales data for the months of Jan and Mar using label-based indexing.

# Select sales data for Jan and Mar
print(sales_data.loc[['Jan', 'Mar']])

In [ ]:
# Exercise 3
# Select the sales data for the first two months using position-based indexing.

# Select sales data for the first two months
print(sales_data.iloc[:2])

In [ ]:
# Exercise 4
# Select the months where sales are greater than 200 using boolean indexing.

# Select months where sales are greater than 200
print(sales_data[sales_data['Sales'] > 200])

In [ ]:
# Exercise 1. Filter rows where 'Gender' is 'F'.
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Gender': ['F', 'M', 'M', 'M']}

df = pd.DataFrame(data)

female_df = df[df['Gender'] == 'F']
print(female_df)

In [ ]:
# Exercise 2. Filter rows where 'Name' starts with 'A'.
name_starts_with_a_df = df[df['Name'].str.startswith('A')]
print(name_starts_with_a_df)

In [ ]:
# Exercise 3. Filter rows where 'Age' is less than or equal to 30.
age_less_than_30_df = df[df['Age'] <= 30]
print(age_less_than_30_df)

In [ ]:
# Exercise 1. Filter rows where 'Age' is greater than 25 and 'Name' does not start with 'D'.
filtered_df = df[(df['Age'] > 25) & (~df['Name'].str.startswith('D'))]
print(filtered_df)

In [ ]:
# Exercise 2. Filter rows where 'Age' is less than 35 or 'Gender' is 'F'.
filtered_df = df[(df['Age'] < 35) | (df['Gender'] == 'F')]
print(filtered_df)

In [ ]:
# Exercise 1:
# Use the given DataFrame `df` and group by the 'Category' column. Calculate the average amount for each category.
import pandas as pd

# Create a sample DataFrame
data = {
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Clothing', 'Electronics'],
    'Amount': [100, 200, 150, 300, 250]
}
df = pd.DataFrame(data)

# Group by 'Category' and calculate the average amount for each category
average_amount = df.groupby('Category')['Amount'].mean()
print(average_amount)

In [ ]:
# Exercise 2: Create a new DataFrame with the following data:

#data = {
#    'City': ['New York', 'Chicago', 'New York', 'Chicago', 'Los Angeles'],
#    'Temperature': [70, 65, 75, 72, 80],
#    'Humidity': [60, 55, 65, 62, 70]
#}

# Group by the 'City' column and calculate the maximum temperature and minimum humidity for each city.

# Create DataFrame
data = {
    'City': ['New York', 'Chicago', 'New York', 'Chicago', 'Los Angeles'],
    'Temperature': [70, 65, 75, 72, 80],
    'Humidity': [60, 55, 65, 62, 70]
}
df = pd.DataFrame(data)

# Group by 'City' and calculate the maximum temperature and minimum humidity for each city
grouped_weather = df.groupby('City').agg({'Temperature': 'max', 'Humidity': 'min'})
print(grouped_weather)

In [ ]:
# Exercise 1: 
# Create a DataFrame from a dictionary containing students' names and their corresponding scores in Math, Science, and English.

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Math': [85, 90, 75],
        'Science': [80, 95, 85],
        'English': [70, 80, 90]}

df = pd.DataFrame(data)

In [ ]:
# Exercise 2: 
# Select the first two rows of the DataFrame.

print(df.head(2))

In [ ]:
# Exercise 3: 
# Filter the DataFrame to show students with scores greater than 80 in Math.

print(df[df['Math'] > 80])

In [ ]:
# Exercise 4: 
# Add a new column 'Total' containing the sum of scores for each student.

df['Total'] = df['Math'] + df['Science'] + df['English']

In [ ]:
# Exercise 5: 
# Remove the 'English' column from the DataFrame.

df.drop('English', axis=1, inplace=True)