In [ ]:
# Exercise 1: 
# Create a DataFrame from the following data:
#   
#   Name    Age    Salary
#   Alice   25     50000
#   Bob     30     60000
#   Charlie 35     70000
#   

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)
print(df)

In [ ]:
# Exercise 2: 
# Read a CSV file named 'salary-data.csv' into a DataFrame and display the first 5 rows.

df = pd.read_csv('salary-data.csv')
print(df.head())

In [ ]:
# Exercise 3: 
# Select the rows where the salary is greater than 60000.

print(df[df['Salary'] > 60000])